* {
    margin: 0;
}

.container {
    max-width: 1200px;
    background-color: burlywood;
    padding: 10px;
    margin: 0 auto;
    height: 100vh;
}

@media (max-width: 800px) {
    .container {
        background-color: green;
    }
}